
# Created by https://www.toptal.com/developers/gitignore/api/swiftpackagemanager
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpackagemanager

### SwiftPackageManager ###
Packages
Build/
.build/
xcuserdata
DerivedData/
*.xcodeproj
.swiftpm

# End of https://www.toptal.com/developers/gitignore/api/swiftpackagemanager